body {
    
    height: 100dvh; /* ocupa toda a altura da tela */
    background-color: #f0f2f5;
    font-family: "open-sans", sans-serif;
}

/* Formulário */
form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

/* Labels */
label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

/* Inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Botão */
button {
    margin-top: 20px;
    padding: 10px 15px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


ul{
    display: flex;
    gap: 20px;
    padding: 0;
}
li{
    list-style: none;
}

table, tr, td, th{
    border-collapse: collapse;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid black;
}

footer {
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

