{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Home Page</h1>

<table>
    <thead>
        <tr>
            <th>Operator</th>
            <th>Machine</th>
            <th>Costumer</th>
            <th>Drawing Number</th>
            <th>Start Date</th>
            <th>Start time</th>
            <th>End Date</th>
            <th>End time</th>
            <th>TOTAL TIME</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.name }}</td>
            <td>{{ job.machine }}</td>
            <td>{{ job.costumer }}</td>
            <td>{{ job.drawing_number }}</td>
            <td>{{ job.start_date }}</td>
            <td>{{ job.start_time }}</td>
            <td>{{ job.end_date }}</td>
            <td>{{ job.end_date }}</td>
            <td>{{ job.total_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}