{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
    li{display: none;}
</style>

<div class="login">
    <h1 class="title login-title">Login Page</h1>
    <form onsubmit="return validate()" class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit" class="login-button">Login</button>
    </form>
</div>
{% endblock %}