{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}
<style>
    header {
        display: none;
    }
</style>


<h1>Login Page</h1>
<form onsubmit="return validate()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
</form>
{% endblock %}