{% extends "base.html" %}

{% block title %}New Register{% endblock %}

{% block content %}
<h1>New Register</h1>

<form action="{{ url_for('newRegister') }}" method="POST" class="register-form">
    <label for="costumer">Costumer:</label>
    <input type="text" id="costumer" name="costumer" required><br><br>

    <label for="drawing_number">Drawing number:</label>
    <input type="text" id="drawing_number" name="drawing_number" required><br><br>

    <label for="machine">Machine:</label>
    <input type="text" id="machine" name="machine" required><br><br>

    <label for="operator">Operator:</label>
    <input type="text" id="operator" name="operator" required><br><br>
    <input type="submit" value="Register">
</form>


{% endblock %}